*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*NAVBAR STYLES*/

.navbar{
height: 56px;
background: #495bcf;
display: flex;
justify-content: space-around;
align-items: center;
gap: 53rem;
}

.navbar__name{
color: #fff;
width: 275px;
height: 16px;
font-weight: bold;
font-size: 20px;
display: inline;
}

.navbar__links{
    float: right;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar__links li{
font-weight: 700;
font-size: 15px;
line-height: 100%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #fff;
}

/*SECTION UNDER NAVBAR*/

.container{
height: 600px;
background-color: #495bcf;
display: flex;
justify-content: center;
align-items: center;

}

.container__hero{
    background-color: #495bcf;
    width: 1380px;
    height: 486px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left{
    width: 50%;
}

.hero__left > h1{
font-weight: 700;
font-size: 50px;
line-height: 100%;
color: #fff;
}

.hero__left > p{
/* font-weight: 400; */
margin-top: 30px;
font-size: 20px;
line-height: 129%;
color: #fff;
}

.left__btn{
    margin-top: 30px;
}
.left__btn .free{
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
color: #383a4a;
border: 2px solid #00d3d4;
border-radius: 24px;
width: 95px;
height: 30px;
background: #00d3d4;
}

.left__btn .price{
 font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
color: #fff;
border: 2px solid #fff;
border-radius: 24px;
width: 95px;
height: 30px;
background: #495bcf;
margin-left: 15px;
}

.hero__right{
    width: 60%;
    height: 100%;
    text-align: right ;
}

/* Features Styles */
.features{
    
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.features__container{
        display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: row;
gap: 11rem;
width: 1385px;
height: 210px;
padding: 0;

}


.features__container .left h2,
.features__container .right h2,
.features__container .center h2{
    font-weight: 700;
font-size: 1.1rem;
line-height: 100%;
color: #383a4a;
margin: 6px 0px;
}

.features__container .left p,
.features__container .right p,
.features__container .center p{
  font-weight: 400;
font-size: 0.9rem;
line-height: 130%;
color: #383a4a;
}


.features__container .left{
    width: 347px;
height: 180px;
}

.features__container .center{
width: 346px;
height: 209px;
}

.features__container .right{
width: 346px;
height: 163px;
}

/* Fullwidth Feature Styles */

.fwfeature{
    background: #bf1085;
height: 545px;
display: flex;
align-items: center;
justify-content: center;
}

.fwfeature__container{
 /* background-color: black; */
 width: 81%;
 height: 450px;
}

.fwfeature__container p{
font-weight: 400;
font-size: 0.9rem;
line-height: 130%;
text-align: center;
color: #fff;
margin: 12px 0px 0px 0px;
}

.fwfeature__container h2{
font-weight: 400;
font-size: 1.6rem;
line-height: 110%;
text-align: center;
color: #fff;
/* margin: 10px 0; */
}

/* TESTIMONIALS STYLES */
 .testimonials{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
 }

 .testimonials__container{
    /* background-color: white; */
    width: 65.5%;
 }

 .testimonials__container p{
font-weight: 600;
font-size: 1.2rem;
line-height: 120%;
margin: 12px 0px;
color: #383a4a;
 }

 .container__author{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 400px;
    /* background-color: red; */
 }

 .container__author div >  img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
 }

 .container__author .text  > p{
    font-size: 0.9rem;
    font-weight: lighter;
    /* background-color: brown; */
    width: 290px;
 }

 /* FULLWIDTH CALL TO ACTIO STYLES */
 .cta{
    background: linear-gradient(90deg, #3b384a 0%, #495bcf 50.09%, #00d3d4 100%);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .cta__container{
  background-color: white;
  height: 150px;
  width: 80%;
 }

 